.li-style {
    list-style: decimal;
    margin-top: 15px;
    font-size: 16px;
    font-family: 'Unbounded', cursive;
    color: rgb(27, 13, 181);
    padding-left: 50px;
}


h6 {
    color: red;
    background-color: blue;
}

.finished {
    text-decoration: line-through;
}

/* ul {
    background: -webkit-linear-gradient(red, yellow, blue, black);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
} */